<main>
  <header class="header">
    <div class="container">
      <div class="header__row">
        <div class="header__background-yellow"></div>
        <div class="header__background-green"></div>
        <a class="header__logo" [routerLink]="['/']"><img src="assets/logo.png" alt="logo" aria-hidden="true"></a>
        <div class="header__currencies">
          <div class="header__eur">EUR: {{ eurRates }}</div>
          <div class="header__usd">USD: {{ usdRates }}</div>
        </div>
        <div class="header__author">
          <a [routerLink]="['/author']">by Bohdan Zahlynskyi</a>
        </div>
      </div>
    </div>
  </header>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
