<div class="author">
    <div class="container author__container">
        <div class="author__body">
            <div class="author__title">
                Bohdan Zahlynskyi
            </div>
            <div class="author__content">
                <div class="author__img">
                    <img src="assets/author.jpg" alt="Author's photo">
                </div>
                <div class="author__contacts">
                    <div class="author__contacts-item">
                        <span>Tel. number: </span><a href="Tel:+4915510527430"><b>+4915510527430</b></a>
                    </div>
                    <div class="author__contacts-item">
                        <span>Email: </span><a href="mailto:"><b>bohdan.zahlynskyi@gmail.com</b></a>
                    </div>
                    <div class="author__contacts-item">
                        <span>Telegram: </span><span class="text-decor"><b>@hdrhighd</b></span>
                    </div>
                    <div class="author__contacts-item links">
                        <a target="_blank" href="https://www.linkedin.com/in/bohdan-zahlynskyi-3885bb23a/">LinkedIn</a>
                        <a target="_blank" href="https://github.com/bzsky1">GitHub</a>
                    </div>
                    <div class="author__CV">
                        <a class="download-link" href="assets/Bohdan Zahlynskyi CV.pdf" download>Download CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
